:root {
  --white: hsl(0, 0%, 100%);

  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);

  --brown800: hsl(14, 45%, 36%);

  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}

*{
    font-family: 'Outfit';
    color: var(--stone900);
}

article {
  max-width: 25rem;
  min-width: 22rem;
  margin: 0 auto;
  /* background-color: yellowgreen; */
}

.recipePic {
  max-width: 100%;
  aspect-ratio: 13/6;
}

h1,h2 {
  font-family: 'Young Serif', Serif;
}

h2, .rose9 {
  color: var(--rose800);
}

.bold {
  font-weight: bold;
}

section {
  padding: 1rem 2rem;
}

hr {
  color: var(--stone150);
  width: 85%;
}

.recipeDesc {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.prepTime {
  background-color: var(--rose50);
  padding: 1rem;
  border-radius: .5rem;
}

.prepTimeBkUp {
  margin-left: -2rem;
}

.prepTimeBkUp li {
  padding-left: 1.5rem;
  margin: 1rem;
  line-height: 1.5;
}

li::marker {
  color: var(--rose800);
  font-size: .75rem;
}

.sectionTitle {
  font-size: 1.7rem;
  font-weight: normal;
}

.ingredientsBkUp {
  margin-left: -1rem;
}

.ingredientsBkUp li {
  padding: .5rem 1.5rem;
  line-height: 1.5;
}

.steps {
  margin-left: -1rem;
}

.steps li {
  padding-left: 1rem;
  line-height: 1.5;
  margin-bottom: .5rem;
}

.steps li::marker {
  color: var(--rose800);
  font-size: 1rem;
  font-weight: bold;
}